{% extends 'ApiBundle:admin:layout.html.twig' %}

{% block body_id 'admin_client_edit' %}

{% block main %}
    <h1>{{ 'title.edit_client'|trans({'%id%': client.id}) }}</h1>

    {{ form_start(edit_form, { attr: attr|default({}) }) }}
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">{{ 'label.client_name'|trans }}</th>
                    <td>
                        {{ form_errors(edit_form.name) }}
                        {{ form_widget(edit_form.name) }}
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ 'label.client_redirecturis'|trans }}</th>
                    <td>
                      {{ form_errors(edit_form.redirect_url) }}
                      {{ form_widget(edit_form.redirect_url) }}
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ 'label.client_randomid'|trans }}</th>
                    <td>
                      {{ form_errors(edit_form.randomid) }}
                      {{ form_widget(edit_form.randomid) }}
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ 'label.client_secret'|trans }}</th>
                    <td>
                      {{ form_errors(edit_form.secret) }}
                      {{ form_widget(edit_form.secret) }}
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="submit" value="{{ button_label|default('action.save'|trans) }}"
               class="{{ button_css|default("btn btn-primary") }}"
         />
    {{ form_end(edit_form) }}

    <a href="{{ path('admin_client_index') }}" class="btn btn-link">
        {{ 'action.back_to_client_list'|trans }}
    </a>
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        {{ include('ApiBundle:admin/client:_form.html.twig', {
            form: delete_form,
            button_label: 'action.delete_client'|trans,
            button_css: 'btn btn-lg btn-block btn-danger',
            show_confirmation: true,
        }, with_context = false) }}
    </div>

    {{ parent() }}
{% endblock %}
