{% extends 'ApiBundle:admin:layout.html.twig' %}

{% block body_id 'admin_client_show' %}

{% block main %}
    <h1>{{ 'title.client'|trans }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th scope="row">{{ 'label.client_name'|trans }}</th>
                <td>{{ client.name }}</td>
            </tr>
            <tr>
                <th scope="row">{{ 'label.client_randomid'|trans }}</th>
                <td>{{ client.randomid }}</td>
            </tr>
            <tr>
                <th scope="row">{{ 'label.client_secret'|trans }}</th>
                <td>{{ client.secret }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('admin_client_index') }}" class="btn btn-link">
        {{ 'action.back_to_list'|trans }}
    </a>
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('admin_client_edit', { id: client.id }) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'action.edit_contents'|trans }}
        </a>
    </div>

    <div class="section">
        {{ include('ApiBundle:admin/client:_form.html.twig', {
            form: delete_form,
            button_label: 'action.delete_client'|trans,
            button_css: 'btn btn-lg btn-block btn-danger',
            show_confirmation: true,
        }, with_context = false) }}
    </div>
{% endblock %}
