{% block nav %}
    <nav>
          <div>
            <div>
              <a href="/">Nerd Project</a>
            </div>
            <div id="navbar">
              <ul>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><a href="{{ path('fos_user_security_logout') }}">{{ 'Logged in as'}} {{ app.user.username }} | Sign Out</a></li>
                    <li>
                  <a href="#">Settings <span class="caret"></span></a>
                  <ul>
                    <li><a href="{{ path('fos_user_resetting_request') }}">Reset Password</a></li>
                    
                    <li><a href="{{ path('fos_user_change_password') }}">Change Password</a></li>
                  </ul>
                </li>
                <li>
                <a href="#">Profile <span class="caret"></span></a>
                 <ul>
                    <li><a href="{{ path('fos_user_profile_show') }}">Show Profile</a></li>          
                    <li><a href="{{ path('fos_user_profile_edit') }}">Edit Profile</a></li>
                  </ul>
                </li>
                {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">{{ 'Sign In'|trans({}, 'FOSUserBundle') }}</a></li>
                    <li><a href="/register">Sign Up</a></li>
                {% endif %}
                {% if is_granted("ROLE_ADMIN") %}
                    <li>
                      <a href="#">Admin <span class="caret"></span></a>
                      <ul>
                        <li><a href="#">Role Management</a></li>            
                        <li><a href="#">User Management</a></li>  
                        <li><a href="#">Client Management</a></li>
                      </ul>
                    </li>
                {% endif %}
                
              </ul>
            </div>
          </div>
        </nav>
 {% endblock %}