{% block nav %}
    <nav class="row">
            <div>
              <a href="/">Nerd Project</a>
            </div>
            <div id="navbar">
              <ul>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><a href="{{ path('fos_user_security_logout') }}">{{ 'action.logged_in_as'|trans }} {{ app.user.username }} | {{ 'action.sign_out'|trans }}</a></li>
                    <li>
                  <a href="#">{{ 'action.settings'|trans }}<span class="caret"></span></a>
                  <ul>
                    <li><a href="{{ path('fos_user_resetting_request') }}">{{ 'action.reset_password'|trans }}</a></li>

                    <li><a href="{{ path('fos_user_change_password') }}">{{ 'action.change_password'|trans }}</a></li>
                  </ul>
                </li>
                <li>
                <a href="#">{{ 'action.profile'|trans }}<span class="caret"></span></a>
                 <ul>
                    <li><a href="{{ path('fos_user_profile_show') }}">{{ 'action.show_profile'|trans }}</a></li>
                    <li><a href="{{ path('fos_user_profile_edit') }}">{{ 'action.edit_profile'|trans }}</a></li>
                  </ul>
                </li>
                {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">{{ 'action.sign_in'|trans }}</a></li>
                    <li><a href="/register">{{ 'action.sign_up'|trans }}</a></li>
                {% endif %}
                {% if is_granted("ROLE_ADMIN") %}
                    <li>
                      <a href="#">{{ 'action.admin_menu'|trans }}<span class="caret"></span></a>
                      <ul>
                        <li><a href="#">{{ 'action.role_management'|trans }}</a></li>
                        <li><a href="#">{{ 'action.user_management'|trans }}</a></li>
                        <li><a href="{{ path('admin_client_index') }}">{{ 'action.client_management'|trans }}</a></li>
                        <li><a href="{{ path('admin_client_new') }}">{{ 'action.create_new_client'|trans }}</a></li>
                      </ul>
                    </li>
                {% endif %}
                <li>
                    <a href="#" id="locales">
                        <span></span>
                        <span>{{ 'menu.choose_language'|trans }}</span>
                    </a>
                    <ul class="locales">
                        {% for locale in locales() %}
                            <li {% if app.request.locale == locale.code %}aria-checked="true" class="active"{%else%}aria-checked="false"{% endif %} role="menuitem"><a href="{{ path(app.request.get('_route', 'blog_index'), app.request.get('_route_params', [])|merge({ _locale: locale.code })) }}">{{ locale.name|capitalize }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
              </ul>
            </div>
        </nav>
 {% endblock %}
