{% block nav %}
    <nav class="nav-extended">
        <div class="nav-wrapper">
            <div>
              <a href="/">{{ 'project_name'|trans }}</a>
            </div>
            <div id="navbar">
              <ul>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <li><a href="{{ path('fos_user_security_logout') }}">{{ 'action.logged_in_as'|trans }} {{ app.user.username }} | {{ 'action.sign_out'|trans }}</a></li>
                    <li>
                  <a href="#">{{ 'action.settings'|trans }}<span></span></a>
                  <ul>
                    <li><a href="{{ path('fos_user_resetting_request') }}">{{ 'action.reset_password'|trans }}</a></li>

                    <li><a href="{{ path('fos_user_change_password') }}">{{ 'action.change_password'|trans }}</a></li>
                  </ul>
                </li>
                <li>
                <a href="#">{{ 'action.profile'|trans }}<span></span></a>
                 <ul>
                    <li><a href="{{ path('fos_user_profile_show') }}">{{ 'action.show_profile'|trans }}</a></li>
                    <li><a href="{{ path('fos_user_profile_edit') }}">{{ 'action.edit_profile'|trans }}</a></li>
                  </ul>
                </li>
                {% else %}
                    <li><a href="{{ path('fos_user_security_login') }}">{{ 'action.sign_in'|trans }}</a></li>
                    <li><a href="/register">{{ 'action.sign_up'|trans }}</a></li>
                {% endif %}
                {% if is_granted("ROLE_ADMIN") %}
                    <li>
                      <a href="#">{{ 'action.admin_menu'|trans }}<span></span></a>
                      <ul>
                        <li><a href="#">{{ 'action.role_management'|trans }}</a></li>
                        <li><a href="{{ path('admin_user_index') }}">{{ 'action.user_management'|trans }}</a></li>
                        <li><a href="{{ path('admin_client_index') }}">{{ 'action.client_management'|trans }}</a></li>
                      </ul>
                    </li>
                {% endif %}
                <li>
                    <a href="#" id="locales">
                        <span></span>
                        <span>{{ 'menu.choose_language'|trans }}</span>
                    </a>
                    <ul>
                        {% for locale in locales() %}
                            <li><a href="{{ path(app.request.get('_route', 'admin_client_index'), app.request.get('_route_params', [])|merge({ _locale: locale.code })) }}">{{ locale.name|capitalize }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>
 {% endblock %}
