{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_client_index' %}

{% block main %}
    <h1>{{ 'title.client_list'|trans }}</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col"><i class="fa fa-user" aria-hidden="true"></i> {{ 'label.client_id'|trans }}</th>
                <th scope="col"><i class="fa fa-user" aria-hidden="true"></i> {{ 'label.client_randomid'|trans }}</th>
                <th scope="col"><i class="fa fa-user" aria-hidden="true"></i> {{ 'label.client_secret'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for client in clients %}
            <tr>
                <td>{{ client.id }}</td>
                <td>{{ client.randomid }}</td>
                <td>{{ client.secret }}</td>
                <td>
                    <div class="item-actions">
                        <a href="{{ path('admin_client_show', { id: client.id }) }}" class="btn btn-sm btn-default">
                            {{ 'action.show'|trans }}
                        </a>
                    </div>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4" align="center">{{ 'client.no_clients_found'|trans }}</td>
           </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
