{% extends 'ApiBundle:admin:layout.html.twig' %}

{% block body_id 'admin_user_edit' %}

{% block main %}
    <h1>{{ 'title.edit_user'|trans({'%id%': user.id}) }}</h1>

    {{ form_start(edit_form, { attr: attr|default({}) }) }}
        {{ form_errors(edit_form) }}
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">{{ 'label.user_firstname'|trans }}</th>
                    <td>
                        {{ form_errors(edit_form.firstname) }}
                        {{ form_widget(edit_form.firstname) }}
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ 'label.user_lastname'|trans }}</th>
                    <td>
                      {{ form_errors(edit_form.lastname) }}
                      {{ form_widget(edit_form.lastname) }}
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ 'label.user_dob'|trans }}</th>
                    <td>
                      {{ form_errors(edit_form.dob) }}
                      {{ form_widget(edit_form.dob) }}
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ 'label.user_email'|trans }}</th>
                    <td>
                      {{ form_errors(edit_form.email) }}
                      {{ form_widget(edit_form.email, { 'attr':{'readonly':'readonly'} }) }}
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ 'label.user_username'|trans }}</th>
                    <td>
                      {{ form_errors(edit_form.username) }}
                      {{ form_widget(edit_form.username, { 'attr':{'readonly':'readonly'} }) }}
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ 'label.user_password'|trans }}</th>
                    <td>
                      {{ form_errors(edit_form.plainPassword) }}
                      {{ form_widget(edit_form.plainPassword) }}
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ 'label.user_roles'|trans }}</th>
                    <td>
                      {{ form_errors(edit_form.roles) }}
                      {{ form_widget(edit_form.roles) }}
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="submit" value="{{ button_label|default('action.save'|trans) }}"
               class="{{ button_css|default("btn btn-primary") }}"
         />
    {{ form_end(edit_form) }}

    <a href="{{ path('admin_user_index') }}" class="btn btn-link">
        {{ 'action.back_to_user_list'|trans }}
    </a>
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        {{ include('ApiBundle:admin/user:_form.html.twig', {
            form: delete_form,
            button_label: 'action.delete_user'|trans,
            button_css: 'btn btn-lg btn-block btn-danger',
            show_confirmation: true,
        }, with_context = false) }}
    </div>

    {{ parent() }}
{% endblock %}
