{% extends 'ApiBundle:user:layout.html.twig' %}

{% block body_id 'user_edit' %}

{% block main %}
    <h1>{{ 'title.edit_user'|trans({'%id%': user.id}) }}</h1>

    {{ form_start(edit_form, { attr: attr|default({}) }) }}
        {{ form_errors(edit_form) }}
        <table class="table">
            <tbody>
                <tr>
                    <th scope="row">{{ 'label.user_image'|trans }}</th>
                    <td>
                      {% if current_image is not empty %}
                        <img src="{{ asset(['images/profile/', current_image]|join) }}" alt="{{ 'title.user'|trans }} {{ 'label.user_image_not_found'|trans }}" class="large" />
                      {% endif %}
                    </td>
                    <td>
                        {{ form_errors(edit_form.image) }}
                        {{ form_widget(edit_form.image) }}
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ 'label.user_firstname'|trans }}</th>
                    <td>
                        {{ form_errors(edit_form.firstname) }}
                        {{ form_widget(edit_form.firstname) }}
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ 'label.user_lastname'|trans }}</th>
                    <td>
                      {{ form_errors(edit_form.lastname) }}
                      {{ form_widget(edit_form.lastname) }}
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ 'label.user_dob'|trans }}</th>
                    <td>
                      {{ form_errors(edit_form.dob) }}
                      {{ form_widget(edit_form.dob) }}
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ 'label.user_email'|trans }}</th>
                    <td>
                      {{ form_errors(edit_form.email) }}
                      {{ form_widget(edit_form.email, { 'attr':{'readonly':'readonly'} }) }}
                    </td>
                </tr>
                <tr>
                    <th scope="row">{{ 'label.user_username'|trans }}</th>
                    <td>
                      {{ form_errors(edit_form.username) }}
                      {{ form_widget(edit_form.username, { 'attr':{'readonly':'readonly'} }) }}
                    </td>
                </tr>
            </tbody>
        </table>
        <input type="submit" value="{{ button_label|default('action.save'|trans) }}"
               class="{{ button_css|default("btn btn-primary") }}"
         />
    {{ form_end(edit_form) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
    <script>
        jQuery(document).ready(function() {
            $('.js-datepicker').datepicker();
        });
    </script>
{% endblock %}
